<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Market Platform</title>
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- jQuery (필수) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <!-- 메인 섹션 -->
    <section class="main-section">
        <div class="main-section-top">
            <div class="main-section-left">
                <!-- 슬라이더 콘텐츠 -->
                <div class="owl-carousel">
                    <div class="item">
                        <a href="https://data.seoul.go.kr/etc/offerReqst.do" title="필요한 데이터가 없을 때! 공공데이터 제공신청">
                            <img src="hojun\homepage\static\images\city.png" alt="필요한 데이터가 없을 때! 공공데이터 제공신청">
                            <p>필요한 데이터가 없을 때! 공공데이터 제공신청</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://bigdata.seoul.go.kr/" title="빅데이터 캠퍼스에 데이터 보러 가자!">
                            <img src="hojun\homepage\static\images\education.png" alt="빅데이터 캠퍼스에 데이터 보러 가자!">
                            <p>빅데이터 캠퍼스에 데이터 보러 가자!</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://data.seoul.go.kr/dataService/statView.do?wjId=fec8730ec6c5f503f9ddb5bfb591701c&amp;pageIndex=1" title="2024년 10월 기준 서울시 등록인구 현황">
                            <img src="hojun\homepage\static\images\security.png" alt="2024년 10월 기준 서울시 등록인구 현황">
                            <p>2024년 10월 기준 서울시 등록인구 현황</p>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="main-section-right">
                <div class="data-item">
                    <span class="data-text">오늘 추가된 데이터</span>
                    <span class="data-value">1,000,000</span>
                </div>
                <div class="data-item">
                    <span class="data-text">공공데이터</span>
                    <span class="data-value">16,122</span>
                </div>
                <div class="data-item">
                    <span class="data-text">AI학습데이터</span>
                    <span class="data-value">17</span>
                </div>
            </div>
        </div>

        <div class="main-section-middle"> 
            <!-- 검색 바 -->
            <div class="search-bar">
                <input type="text" placeholder="원하시는 데이터를 검색하세요.">
                <button>검색</button>
            </div>
            <div class="highlight-box">
                <span>데이터를 쉽게 검색해주는&nbsp</span>
                <span class="highlight">DS_AI</span>
            </div>
        </div>
        
        <div class="main-section-low">
            <div class="carousel">
                <button class="prev-btn">◀</button>
                <div class="carousel-track-container">
                    <ul class="carousel-track">
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/city.png') }}" alt="도시/지역">
                            <p>도시/지역</p>
                        </li>
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/industry.png') }}" alt="산업/고용">
                            <p>산업/고용</p>
                        </li>
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/finance.png') }}" alt="경제/금융">
                            <p>경제/금융</p>
                        </li>
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/security.png') }}" alt="행정/안보">
                            <p>행정/안보</p>
                        </li>
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/education.png') }}" alt="교육">
                            <p>교육</p>
                        </li>
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/education.png') }}" alt="교육">
                            <p>교육</p>
                        </li>
                        <li class="carousel-item">
                            <img src="{{ url_for('static', filename='homepage/images/education.png') }}" alt="교육">
                            <p>교육</p>
                        </li>
                    </ul>
                </div>
                <button class="next-btn">▶</button>
            </div>

            <!-- 로그인 안내 -->
            <div class="login-section">
                <p class="login-title">로그인 후<br>이용해 주세요</p>
                <a href="#" class="btn-login">로그인</a>
                <div class="login-links">
                    <a href="#" class="login-link">아이디 찾기</a>
                    <span>|</span>
                    <a href="#" class="login-link">비밀번호 찾기</a>
                    <span>|</span>
                    <a href="#" class="login-link">회원가입</a>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='homepage/js/homepage.js') }}"></script>
    {% endblock %}
</body>
</html>
